html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, pre,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, #detail p span, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

ins {
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

del, ins, u {
  text-decoration: none; }

body {
  display: block;
  margin: 20px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  word-wrap: break-word; }

*:focus {
  outline: none; }

h1, h2, h3,
h4, h5, h6 {
  color: #2164A1;
  width: 100%;
  font-weight: bold; }

h1 {
  font-size: 2.7rem; }
  h1.sub {
    font-size: 2.1rem; }

h2 {
  font-size: 2.1rem; }
  h2.sub {
    font-size: 1.8rem; }

h3 {
  font-size: 1.8rem; }
  h3.sub {
    font-size: 1.5rem; }

h4 {
  font-size: 1.5rem; }
  h4.sub {
    font-size: 1.2rem; }

h5 {
  font-size: 1.2rem; }
  h5.sub {
    font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }
  h6.sub {
    font-size: 0.6rem; }

h1 > small, h2 > small, h3 > small,
h4 > small, h5 > small, h6 > small {
  font-size: .8em;
  color: #A6A6A6;
  width: 100%; }

h1.sub, h2.sub, h3.sub,
h4.sub, h5.sub, h6.sub {
  color: #A6A6A6;
  display: block;
  width: 100%; }

p {
  margin: 1rem 1rem 1.2rem 1rem;
  font-size: 1rem;
  line-height: normal;
  word-wrap: break-word; }

mark {
  color: white;
  border-radius: 2px;
  padding: 0 2px 0 2px;
  background-color: #735852; }

del, ins, u, abbr {
  position: relative; }

ins {
  text-decoration: none; }

del:before, ins:before, u:before {
  border-bottom: 1px solid #2164A1;
  position: absolute;
  content: "";
  width: 100%;
  height: 51.5%; }

ins:before, u:before {
  max-height: inherit;
  min-height: inherit;
  height: 85%; }

strong, #detail p span {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted #2164A1;
  cursor: help; }

q:before {
  content: "\""; }

q:after {
  content: "\""; }

blockquote {
  border-left: 6px solid black;
  padding: 2rem;
  margin: 1rem 1rem 1.2rem 1rem;
  border-radius: 4px;
  background-color: #735852;
  background-image: url("../images/blockquote.png"), url("../images/blockquote_end.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 10px top 10px, right 10px bottom 10px;
  line-height: normal;
  color: white; }

code, pre {
  font-size: .8rem;
  border-left: 6px solid #2164A1;
  padding: 1rem;
  margin: 1rem 1rem 1.2rem 1rem;
  display: block;
  border-radius: 4px;
  background-color: #EBEBEB;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

pre {
  counter-reset: line;
  white-space: pre-wrap;
  text-align: left; }
  pre span {
    counter-increment: line; }
    pre span:before {
      content: counter(line);
      text-align: right;
      margin-right: 1rem;
      color: #2164A1;
      font-weight: bold; }

kbd {
  color: black;
  border: 1px solid #2164A1;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #A6A6A6;
  display: inline-block;
  padding: 3px 4px 3px 4px;
  box-shadow: 2px 2px 4px 0 #A6A6A6;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

li {
  list-style-image: url("../images/puce.png");
  margin-bottom: .4rem; }
  li.square {
    list-style-image: url("../images/puce_square.png"); }
  li.none {
    list-style-image: url("../images/puce_none.png"); }

ul {
  padding: 0 1rem 1rem 1rem;
  margin: 1rem 1rem 1.2rem 1rem; }
  ul li {
    margin-top: .4rem;
    margin-left: 1.4rem; }

*.left, .container-recherche .form div, .container-recherche .form input, .container-recherche .form select, .container-recherche .form *.radios:nth-child(1), .container-recherche .form *.radios:nth-child(3) {
  text-align: left; }

*.right, .container-recherche .form *.radios:nth-child(2), .container-recherche .form *.radios:nth-child(4) {
  text-align: right; }

*.center, #header *#logo-medianet, #header *#titre-medianet, *.dernier_ajout, .container-recherche *.form, *.resultats-recherche, *#detail, footer {
  text-align: center; }

*.justify, .dernier_ajout p, .resultats-recherche p, #detail p {
  text-align: justify; }

*.uppercase, .dernier_ajout h3, .resultats-recherche h3, #detail h3, footer a {
  text-transform: uppercase; }

*.lowercase {
  text-transform: lowercase; }

table {
  width: 100%;
  margin-top: .4rem;
  margin-bottom: 1.4rem; }
  table.mouse tr:hover td {
    background: #4E5066;
    color: white;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e; }
  table.alternate tr:nth-child(odd) td {
    background: #EBEBEB; }
  table.mouse tr:nth-child(odd):hover td {
    background: #4E5066; }

@media screen and (max-width: 45rem) {
  table {
    border: none; } }
th {
  color: white;
  font-size: 1.4rem;
  background: #2164A1;
  border-bottom: 4px solid #A6A6A6;
  border-right: 1px solid #A6A6A6;
  padding: 1.2rem;
  vertical-align: middle; }
  th:first-child {
    border-top-left-radius: 3px; }
  th:last-child {
    border-top-right-radius: 3px;
    border-right: none; }

@media screen and (max-width: 45rem) {
  th {
    display: none; } }
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }
  tr:first-child {
    border-top: none; }
  tr:last-child {
    border-bottom: none; }
  tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }

@media screen and (max-width: 45rem) {
  tr {
    display: block;
    border: 1px solid #A6A6A6;
    margin-bottom: 1rem;
    text-align: left; }

  tr:first-child {
    display: none; }

  tr:last-child {
    margin-bottom: 1.4rem;
    border: 1px solid #A6A6A6; } }
td {
  background: white;
  padding: 20px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.1rem;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #A6A6A6; }
  td:last-child {
    border-right: 0; }

@media screen and (max-width: 45rem) {
  td {
    display: block;
    border-right: none;
    border-bottom: 1px dotted #A6A6A6; }

  td:last-child {
    border: none; }

  td:before {
    content: attr(data-label);
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold; } }
.col1 {
  padding: .8rem;
  font-size: 1rem;
  width: 8%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col2 {
  padding: .8rem;
  font-size: 1rem;
  width: 18%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col3 {
  padding: .8rem;
  font-size: 1rem;
  width: 28%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col4 {
  padding: .8rem;
  font-size: 1rem;
  width: 38%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col5 {
  padding: .8rem;
  font-size: 1rem;
  width: 48%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col6 {
  padding: .8rem;
  font-size: 1rem;
  width: 58%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col7 {
  padding: .8rem;
  font-size: 1rem;
  width: 68%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col8 {
  padding: .8rem;
  font-size: 1rem;
  width: 78%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col9 {
  padding: .8rem;
  font-size: 1rem;
  width: 88%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col10 {
  padding: .8rem;
  font-size: 1rem;
  width: 98%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.offset1 {
  margin-left: 11%; }

.offset2 {
  margin-left: 21%; }

.offset3 {
  margin-left: 31%; }

.offset4 {
  margin-left: 41%; }

.offset5 {
  margin-left: 51%; }

.offset6 {
  margin-left: 61%; }

.offset7 {
  margin-left: 71%; }

.offset8 {
  margin-left: 81%; }

.offset9 {
  margin-left: 91%; }

@media screen and (max-width: 728px) {
  .col1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col2 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col3 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col4 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col5 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col6 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col7 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col8 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col9 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
.grid {
  font-size: 0;
  text-align: left;
  vertical-align: top; }
  .grid > .col1 {
    padding: .8rem;
    font-size: 1rem;
    width: 9.11111%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col2 {
    padding: .8rem;
    font-size: 1rem;
    width: 20.22222%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col3 {
    padding: .8rem;
    font-size: 1rem;
    width: 31.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col4 {
    padding: .8rem;
    font-size: 1rem;
    width: 42.44444%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col5 {
    padding: .8rem;
    font-size: 1rem;
    width: 53.55556%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col6 {
    padding: .8rem;
    font-size: 1rem;
    width: 64.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col7 {
    padding: .8rem;
    font-size: 1rem;
    width: 75.77778%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col8 {
    padding: .8rem;
    font-size: 1rem;
    width: 86.88889%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col9 {
    padding: .8rem;
    font-size: 1rem;
    width: 98%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .offset1 {
    margin-left: 12.11111%; }
  .grid > .offset2 {
    margin-left: 23.22222%; }
  .grid > .offset3 {
    margin-left: 34.33333%; }
  .grid > .offset4 {
    margin-left: 45.44444%; }
  .grid > .offset5 {
    margin-left: 56.55556%; }
  .grid > .offset6 {
    margin-left: 67.66667%; }
  .grid > .offset7 {
    margin-left: 78.77778%; }
  .grid > .offset8 {
    margin-left: 89.88889%; }

.grid-small {
  font-size: 0;
  text-align: left;
  vertical-align: top; }
  .grid-small > .col1 {
    padding: .8rem;
    font-size: 1rem;
    width: 14.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col2 {
    padding: .8rem;
    font-size: 1rem;
    width: 31.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col3 {
    padding: .8rem;
    font-size: 1rem;
    width: 48%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col4 {
    padding: .8rem;
    font-size: 1rem;
    width: 64.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col5 {
    padding: .8rem;
    font-size: 1rem;
    width: 81.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col6 {
    padding: .8rem;
    font-size: 1rem;
    width: 98%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .offset1 {
    margin-left: 17.66667%; }
  .grid-small > .offset2 {
    margin-left: 34.33333%; }
  .grid-small > .offset3 {
    margin-left: 51%; }
  .grid-small > .offset4 {
    margin-left: 67.66667%; }
  .grid-small > .offset5 {
    margin-left: 84.33333%; }

.grid-large {
  font-size: 0;
  text-align: left;
  vertical-align: top; }
  .grid-large > .col1 {
    padding: .8rem;
    font-size: 1rem;
    width: 6.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col2 {
    padding: .8rem;
    font-size: 1rem;
    width: 14.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col3 {
    padding: .8rem;
    font-size: 1rem;
    width: 23%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col4 {
    padding: .8rem;
    font-size: 1rem;
    width: 31.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col5 {
    padding: .8rem;
    font-size: 1rem;
    width: 39.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col6 {
    padding: .8rem;
    font-size: 1rem;
    width: 48%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col7 {
    padding: .8rem;
    font-size: 1rem;
    width: 56.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col8 {
    padding: .8rem;
    font-size: 1rem;
    width: 64.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col9 {
    padding: .8rem;
    font-size: 1rem;
    width: 73%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col10 {
    padding: .8rem;
    font-size: 1rem;
    width: 81.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col11 {
    padding: .8rem;
    font-size: 1rem;
    width: 89.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col12 {
    padding: .8rem;
    font-size: 1rem;
    width: 98%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .offset1 {
    margin-left: 9.33333%; }
  .grid-large > .offset2 {
    margin-left: 17.66667%; }
  .grid-large > .offset3 {
    margin-left: 26%; }
  .grid-large > .offset4 {
    margin-left: 34.33333%; }
  .grid-large > .offset5 {
    margin-left: 42.66667%; }
  .grid-large > .offset6 {
    margin-left: 51%; }
  .grid-large > .offset7 {
    margin-left: 59.33333%; }
  .grid-large > .offset8 {
    margin-left: 67.66667%; }
  .grid-large > .offset9 {
    margin-left: 76%; }
  .grid-large > .offset10 {
    margin-left: 84.33333%; }
  .grid-large > .offset11 {
    margin-left: 92.66667%; }

@media screen and (max-width: 728px) {
  .grid .col1, .grid-small .col1, .grid-large .col1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col2, .grid-small .col2, .grid-large .col2 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col3, .grid-small .col3, .grid-large .col3 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col4, .grid-small .col4, .grid-large .col4 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col5, .grid-small .col5, .grid-large .col5 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col6, .grid-small .col6, .grid-large .col6 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col7, .grid-small .col7, .grid-large .col7 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col8, .grid-small .col8, .grid-large .col8 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col9, .grid-small .col9, .grid-large .col9 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .offset1 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset2 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset3 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset4 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset5 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset6 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset7 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset8 {
    margin-left: 1%; } }
.navbar, .breadcrumb, #fil, .pagination, nav div {
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .navbar ul, .breadcrumb ul, #fil ul, .pagination ul, nav div ul {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #2164A1;
    border-bottom: 4px solid #C1C3D1; }
    .navbar ul li, .breadcrumb ul li, #fil ul li, .pagination ul li, nav div ul li {
      list-style: none;
      font-size: 1rem;
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      cursor: pointer;
      text-align: center;
      width: 100%; }
      .navbar ul li:hover, .breadcrumb ul li:hover, #fil ul li:hover, .pagination ul li:hover, nav div ul li:hover {
        cursor: pointer;
        background-color: #3773aa; }
    .navbar ul > li a, .breadcrumb ul > li a, #fil ul > li a, .pagination ul > li a, nav div ul > li a, .navbar ul > li a:visited, .breadcrumb ul > li a:visited, #fil ul > li a:visited, .pagination ul > li a:visited, nav div ul > li a:visited {
      color: white; }
    .navbar ul li.disabled, .breadcrumb ul li.disabled, #fil ul li.disabled, .pagination ul li.disabled, nav div ul li.disabled {
      color: #C1C3D1;
      cursor: not-allowed; }
      .navbar ul li.disabled:hover, .breadcrumb ul li.disabled:hover, #fil ul li.disabled:hover, .pagination ul li.disabled:hover, nav div ul li.disabled:hover {
        background: #2164A1; }
    .navbar ul li.active, .breadcrumb ul li.active, #fil ul li.active, .pagination ul li.active, nav div ul li.active, .navbar ul li.active a, .breadcrumb ul li.active a, #fil ul li.active a, .pagination ul li.active a, nav div ul li.active a, .navbar ul li.active a:visited, .breadcrumb ul li.active a:visited, #fil ul li.active a:visited, .pagination ul li.active a:visited, nav div ul li.active a:visited {
      background-color: #C1C3D1;
      font-weight: bold;
      color: #2164A1; }
    .navbar ul li.disabled a, .breadcrumb ul li.disabled a, #fil ul li.disabled a, .pagination ul li.disabled a, nav div ul li.disabled a {
      color: #A6A6A6;
      cursor: not-allowed; }

@media screen and (min-width: 47em) {
  .navbar > ul, .breadcrumb > ul, #fil > ul, .pagination > ul, nav div > ul {
    flex-direction: row;
    align-items: inherit;
    justify-content: space-around; } }
.breadcrumb ul, #fil ul {
  background-color: #EBEBEB;
  border-bottom: none;
  text-align: left; }
  .breadcrumb ul li, #fil ul li {
    padding-top: .5rem;
    padding-bottom: .5rem;
    counter-increment: line;
    text-align: left;
    color: #2164A1; }
    .breadcrumb ul li:hover, #fil ul li:hover {
      cursor: pointer;
      background-color: transparent; }
    .breadcrumb ul li:before, #fil ul li:before {
      content: counter(line);
      text-align: right;
      margin-right: 1rem;
      padding-left: 1rem;
      color: #2164A1;
      font-weight: bold; }
  .breadcrumb ul li a, #fil ul li a, .breadcrumb ul li a:visited, #fil ul li a:visited {
    color: #2164A1; }

@media screen and (min-width: 45em) {
  .breadcrumb > ul, #fil > ul {
    flex-direction: row;
    align-items: inherit;
    justify-content: flex-start; }

  .breadcrumb > ul > li, #fil > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    width: inherit; }

  .breadcrumb ul li:not(:last-child):after, #fil ul li:not(:last-child):after {
    content: "/";
    margin-left: .8rem;
    margin-right: -0.8rem;
    color: #A6A6A6;
    white-space: nowrap; }

  .breadcrumb ul li:before, #fil ul li:before {
    display: none; } }
.pagination {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  .pagination ul {
    background-color: white;
    border: none; }
    .pagination ul > li {
      text-align: center;
      border: none;
      color: #2164A1;
      background-color: white;
      border-left: 1px solid #A6A6A6;
      border-right: 1px solid #A6A6A6;
      border-bottom: 1px solid #A6A6A6; }
      .pagination ul > li:hover {
        font-weight: bold;
        background-color: #e3e3e3; }
      .pagination ul > li.disabled {
        color: #A6A6A6;
        cursor: not-allowed; }
        .pagination ul > li.disabled:hover {
          background: white; }
      .pagination ul > li.disabled a {
        color: #A6A6A6;
        cursor: not-allowed; }
      .pagination ul > li.active {
        background-color: #2164A1;
        font-weight: bold;
        color: #C1C3D1; }
    .pagination ul > li:first-child {
      border-top: 1px solid #A6A6A6;
      border-right: 1px solid #A6A6A6;
      border-radius: 0; }
    .pagination ul > li:last-child {
      border-bottom: 1px solid #A6A6A6;
      border-radius: 0; }
    .pagination ul li:not(:last-child) {
      border-right: 1px solid #A6A6A6; }

@media screen and (min-width: 45em) {
  .pagination > ul > li {
    border: 1px solid #A6A6A6; } }
button.btn, .connectBox button#connection, .container-recherche .form button, a.btn, .connectBox a#connection, .dernier_ajout a, .resultats-recherche a {
  display: inline-block;
  color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  padding: 0.8rem 2.1rem;
  border-radius: 5px;
  border-bottom-width: 3px; }
  button.btn:hover, .connectBox button#connection:hover, .container-recherche .form button:hover, a.btn:hover, .connectBox a#connection:hover, .dernier_ajout a:hover, .resultats-recherche a:hover {
    background-color: #e3e3e3;
    border-color: #A6A6A6;
    cursor: pointer; }
  button.btn:active, .connectBox button#connection:active, .container-recherche .form button:active, a.btn:active, .connectBox a#connection:active, .dernier_ajout a:active, .resultats-recherche a:active {
    background-color: #CCC;
    outline: none;
    border-color: black; }

button.btn.round, .connectBox button.round#connection, .container-recherche .form button.round, a.btn.round, .connectBox a.round#connection, .dernier_ajout a.round, .resultats-recherche a.round {
  border-radius: 30px; }

button.btn-blue, .connectBox button#connection, a.btn-blue, .connectBox a#connection, .dernier_ajout a, .resultats-recherche a {
  background-color: #2164A1;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white; }

button.btn-blue:hover, .connectBox button#connection:hover, a.btn-blue:hover, .connectBox a#connection:hover, .dernier_ajout a:hover, .resultats-recherche a:hover {
  background-color: #3773aa;
  border-color: rgba(0, 0, 0, 0.5); }

button.btn-blue:active, .connectBox button#connection:active, a.btn-blue:active, .connectBox a#connection:active, .dernier_ajout a:active, .resultats-recherche a:active {
  background-color: #3773aa;
  outline: none;
  border-color: rgba(0, 0, 0, 0.9); }

button.btn-brown, a.btn-brown {
  background-color: #735852;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white; }

button.btn-brown:hover, a.btn-brown:hover {
  background-color: #735852;
  border-color: rgba(0, 0, 0, 0.5); }

button.btn-brown:active a.btn-brown:active {
  background-color: #735852;
  outline: none;
  border-color: rgba(0, 0, 0, 0.9); }

button.btn-red, .container-recherche .form button, a.btn-red {
  background-color: #DA4F49;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white; }

button.btn-red:hover, .container-recherche .form button:hover, a.btn-red:hover {
  background-color: #ff4c4c;
  border-color: rgba(0, 0, 0, 0.5); }

button.btn-red:active, .container-recherche .form button:active, a.btn-red:active {
  background-color: #DA4F45;
  outline: none;
  border-color: rgba(0, 0, 0, 0.9); }

button.flat, .container-recherche .form button, a.flat, .dernier_ajout a, .resultats-recherche a {
  border: none;
  border-radius: 0; }

button.extra, .connectBox button#connection, .container-recherche .form button, a.extra, .connectBox a#connection, .dernier_ajout a, .resultats-recherche a {
  width: 100%; }

button.btn-lg, a.btn-lg {
  padding: 0.8rem 3.1rem; }

button.btn-small, a.btn-small {
  padding: 0.8rem 1.1rem; }

button.fancy {
  border-radius: 50px; }

a.btn, .connectBox a#connection, .dernier_ajout a, .resultats-recherche a {
  text-decoration: none;
  text-align: center; }

.alert-box {
  display: block;
  color: white;
  position: relative;
  background-color: #2164A1;
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 1.2rem;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0.8rem 1.4rem 0.8rem 0.8rem; }

.alert-box.success {
  background-color: #4acc3f; }

.alert-box.danger, .alert-box.warning {
  background-color: #ff4c4c; }

.alert-box.warning {
  background-color: #735842; }

.header {
  padding-bottom: 10px;
  margin: .8rem 0 1.6rem;
  border-bottom: 1px solid #A6A6A6; }

.jumbotron {
  background-color: #EBEBEB;
  padding: 2.4rem 1rem;
  border-radius: 4px; }
  .jumbotron p {
    text-align: justify;
    margin: 2.0rem 0 1.2rem 0; }

@media screen and (min-width: 46em) {
  .jumbotron {
    padding: 2.4rem 3rem 2.4rem 3rem; } }
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0; }

html {
  background-color: #EBEBEB; }

main {
  flex: 1 0 auto; }

.connectBox {
  width: 20%; }

div#erreur-404 {
  text-align: center; }

nav div {
  margin-bottom: 0rem; }

#header {
  font-size: 0; }
  #header #logo-medianet, #header #titre-medianet {
    width: 98%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box; }
  #header #logo-medianet {
    margin-right: 1%; }
    #header #logo-medianet img {
      max-width: 100%; }
  #header #titre-medianet {
    margin-left: 1%; }

@media screen and (min-width: 47em) {
  #header #logo-medianet, #header #titre-medianet {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box; }
  #header #logo-medianet {
    margin-right: 2%;
    text-align: left; }
    #header #logo-medianet img {
      max-width: 100%; }
  #header #titre-medianet {
    margin-left: 2%;
    text-align: right; } }
#nouveaux-ajouts {
  font-size: 0; }
  #nouveaux-ajouts > h3 {
    margin-bottom: 1rem; }

.dernier_ajout {
  border: 1px solid #735852;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  vertical-align: top; }
  .dernier_ajout h3 {
    padding: 1rem 0;
    background-color: #735852;
    color: white;
    margin-bottom: 1rem; }
  .dernier_ajout img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .dernier_ajout p {
    display: none;
    padding: 1rem 2rem; }
  .dernier_ajout a {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }

.tablette, .pc {
  display: none; }

@media screen and (min-width: 47em) {
  #nouveaux-ajouts {
    padding: 4rem 2rem; }

  .dernier_ajout {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%; }
    .dernier_ajout img {
      height: 200px; }

  .tablette {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%; }

  .pc {
    display: none; } }
@media screen and (min-width: 70em) {
  #nouveaux-ajouts {
    padding: 4rem 2rem; }

  .dernier_ajout {
    width: 31%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%; }
    .dernier_ajout img {
      height: 180px; }
    .dernier_ajout p {
      display: block;
      padding: 1rem; }
    .dernier_ajout a {
      width: 70%; } }
.container-recherche {
  padding: 2rem; }
  .container-recherche .form {
    width: 96%;
    margin-left: auto;
    margin-right: auto; }
    .container-recherche .form div {
      margin-top: 5%; }
    .container-recherche .form input, .container-recherche .form select {
      padding: 0.6rem 0;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      width: 100%;
      display: block;
      font-size: 1rem;
      box-sizing: border-box; }
    .container-recherche .form input[type="radio"] {
      width: 6%;
      display: inline-block; }
    .container-recherche .form #radio {
      font-size: 0; }
    .container-recherche .form .radios {
      display: inline-block;
      font-size: 1rem;
      width: 50%; }
    .container-recherche .form input:hover, .container-recherche .form textarea:hover, .container-recherche .form select:hover
    input:focus, .container-recherche .form textarea:focus, .container-recherche .form select:focus {
      background-color: white; }

@media screen and (min-width: 47em) {
  .container-recherche {
    padding: 2rem 6rem; }
    .container-recherche .form button {
      width: 80%; }
    .container-recherche .form .radios {
      width: 25%; }
    .container-recherche .form .radios:nth-child(2), .container-recherche .form .radios:nth-child(3) {
      text-align: center; } }
@media screen and (min-width: 70em) {
  .container-recherche {
    padding: 2rem 18rem; }
    .container-recherche .form button {
      width: 50%; } }
#container-resultat {
  font-size: 0; }

.resultats-recherche:nth-child(2), .resultats-recherche:nth-child(3), .resultats-recherche:nth-child(4) {
  opacity: 1; }

.resultats-recherche {
  border: 1px solid #735852;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  opacity: 0; }
  .resultats-recherche h3 {
    padding: 1rem 0;
    background-color: #735852;
    color: white;
    margin-bottom: 1rem; }
  .resultats-recherche img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .resultats-recherche p {
    display: none;
    padding: 1rem 2rem; }
  .resultats-recherche a {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-width: 47em) {
  #container-resultat {
    padding: 4rem 2rem; }

  .resultats-recherche {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%; }
    .resultats-recherche img {
      height: 200px; } }
@media screen and (min-width: 70em) {
  #container-resultat {
    padding: 4rem 2rem; }

  .resultats-recherche {
    width: 31%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%; }
    .resultats-recherche p {
      display: block;
      padding: 1rem; }
    .resultats-recherche a {
      width: 70%; }
    .resultats-recherche img {
      height: 180px; } }
#fil {
  margin-top: 0rem; }
  #fil ul {
    background-color: #C1C3D1; }

#detail {
  border: 1px solid #735852;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem; }
  #detail h3 {
    padding: 1rem 0;
    background-color: #735852;
    color: white;
    margin-bottom: 1rem; }
  #detail img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #detail p {
    padding: 1rem 2rem; }

@media screen and (min-width: 47em) {
  #detail {
    width: 80%; } }
@media screen and (min-width: 70em) {
  #detail {
    width: 70%; } }
footer {
  background-color: #DA4F49;
  padding: 2.4rem 0;
  margin-top: 4rem;
  cursor: pointer;
  font-size: 0; }
  footer .footer {
    display: inline-block;
    width: 100%; }
    footer .footer:first-child {
      margin-bottom: 1rem; }
  footer a {
    font-size: 1.2rem;
    color: white; }
  footer a:visited {
    color: white; }

@media screen and (min-width: 47em) {
  footer .footer {
    width: 50%; }
    footer .footer:first-child {
      margin-bottom: 0; } }

/*# sourceMappingURL=easy.css.map */
