{% include "header.twig" %}

<main>
    <div class="connectBox">

        <a id="connection" href="{{ url }}/connect">Identifiez-vous</a>
    </div>

    <div id="nouveaux-ajouts">
        {% if list == null %}
            <h3>Aucun document n'est encore disponible dans la médiathèque</h3>
        {% elseif list | length == 0 %}
            <h3>Aucun document n'est encore disponible dans la médiathèque</h3>
        {% else %}
            <h3>Nouveaux ajouts</h3>

            {% set incr = 0 %}
            {% for item in list %}
                {% if incr < 3 %}
                    <div class="dernier_ajout mobile">
                {% elseif (incr > 2) and (incr < 6) %}
                    <div class="dernier_ajout tablette">
                {% elseif (incr > 5) and (incr < 10) %}
                    <div class="dernier_ajout pc">
                {% endif %}
                {% set incr = incr + 1 %}

                    <h3>{{ item.titre }}</h3>
                    <img src="{{ item.photo }}" alt="Image Document">
                    <a href="{{ url }}/annonce/{{ item.id }}">Plus d'infos</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>

{% include "footer.twig" %}
</body>
</html>