{% include "header.twig" %}

<main>

    {% if nbtest >1 and succes==false %}
        <div class="alert-box danger">Erreur. </div>
    {% endif %}

    {% if succes==false %}
    <div id="detail" >
        <h3>Connection : </h3>

        <form method="post" action="{{ url }}/connect">

            <p>Référence client :
            <input type="text" name="ref" placeholder="Référence" required>
            </p>
            <p> Votre password :
            <input type="password" name="pass" placeholder="Password" required>
            </p>

            <button class="btn round btn-lg btn-blue " type="submit">Login</button>
        </form>
    </div>
    {% endif %}


    {% if succes==true %}
        <div class="alert-box success">Connection établie. Welcome {{info}}</div>
        {% if documents|length > 0 %}
            <h3> Ces document sont encore en votre possesion : </h3>
            {% for doc in documents %}
            <blockquote>
                <ul>
                    <li>Titre : {{ doc.titre}} </li>
                    <li>Référence : {{ doc.id}} </li>
                    <li>Date limite :{{doc.dateEmprunt|date_modify("+21 day")|date("d/m/Y") }} </li>
                </ul>
            </blockquote>
            {% endfor %}   
        {% else %}
            <div class="alert-box success">Aucun document a rendre.</div>  
        {% endif %}
    {% endif %}


</main>

{% include "footer.twig" %}
</body>
</html>