{% include "header.twig" %}

<main>
	{% if doc == null %}
		<h3>Erreur : Annonce non trouvée</h3>
	{% else %}
        <div id="fil">
            <ul >
                <li>Accueil</li>
                <li>Categories</li>
                <li>{{ doc.typedoc.intitule }}</li>
            </ul>
        </div>

        <div id="detail">
            <h3>{{ doc.titre }}</h3>
            <img src="{{ doc.photo }}" alt="Image Document">
            <p><span>Genre </span>: {{ doc.genre.intitule }}</p>
            <p><span>Date de commercialisation </span>: {{ doc.datesortie | date('d-m-Y') }}</p>
            <p><span>Description </span>:
                {% autoescape 'html' %}
                {{ doc.description | nl2br }}
                {% endautoescape %}
            </p>
            <p><span>État </span>: {{ doc.etatemprunt.intitule }}</p>

            {% if doc.etatemprunt.id == 3 %}
                <p><span>Date de retour prévue : {{ doc.dateEmprunt | date_modify("+21 day")|date("d/m/Y")}} </span></p>
            {% endif %}
        </div>

	{% endif %}
</main>


{% include "footer.twig" %}
</body>
</html>