{% include "header.twig" %}

<main>
    <div id="container">
        <div id="erreur-404">
            <div id="image-404">
                <img src="{{ url }}/img/site/panneau_404.png" alt="Erreur 404">
            </div>

            <div id="texte-404">
                <h5>Désolé, la page que tu recherches n'existe pas.</h5>
            </div>
        </div>
    </div>
</main>

{% include "footer.twig" %}
</body>
</html>