<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MediaNet : Accueil adhérent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url }}/img/site/icon_medianet.png" />
    <link rel="stylesheet" type="text/css" href="{{ url }}/css/easy.css">
    <script src="{{ url }}/js/jquery-1.11.3.min.js"></script>
    {% if page %}
        <script>
            $(document).ready(function() {
            var maxHeight = -1;

            $('h3').each(function() {
                maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
            });

            $('h3').each(function() {
            $(this).height(maxHeight);
            });
            });
        </script>
    {% endif %}

    {% if scroll %}
        <script>
            $(document).ready(function() {
                $(window).scroll( function(){
                    $('.resultats-recherche').each( function(i){
                        var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                        var bottom_of_window = $(window).scrollTop() + $(window).height();

                        if( bottom_of_window > bottom_of_object ){
                            $(this).animate({'opacity':'1'},500);
                        }
                    });
                });
            });
        </script>
    {% endif %}
</head>

<body>

<header>
    <div id="header">
        <div id="titre-medianet">
            <h1>MediaNet</h1>
        </div>

        <div id="logo-medianet">
            <img src="{{ url }}/img/site/icon_medianet.png" alt="Logo MediaNet">
        </div>
    </div>
</header>

<nav>
    <div id="menu">

        <ul>
            {% for item in menuCollection %}
                <li><a href="{{ url }}{{ item.url }}">{{ item.intitule }}</a></li>
            {% endfor %}
        </ul>

    </div>
</nav>