﻿{% include "header.twig" %}

<main>

	<div class="container-recherche">
		<h3>Rechercher vos documents favoris</h3>

		<div class="form">
			<form id="form-get-resultat" method="post">

				<div id="mot-cle">
					<label>Mot-clé</label>
					<input type="text" name="motcle" id="motcle" placeholder="mot clé">
				</div>


				<div id="type">
					<label>Type</label>
					<select id="typeChoix" name="type">
						<option selected value="0">Indifférent</option>
						{% for item in type %}
							<option value="{{ item.id }}">{{ item.intitule }}</option>
						{% endfor %}
					</select>
				</div>

				<div id="genre">
					<label>Genre</label>
					<select id="genreChoix" name="genre">
						<option value="0" selected>Indifférent</option>
						{% for item in genre %}
							<option value="{{ item.id }}">{{ item.intitule }}</option>
						{% endfor %}
					</select>
				</div>

				<div id="disponible">
					<label>Disponibilité : </label>

					<div id="radio">
						<div class="radios">
							<input type="radio" name="dispo" value="0" checked required><span>Indifférent</span>
						</div>
						<div class="radios">
							<input type="radio" name="dispo" value="1"><span>Disponible</span>
						</div>
						<div class="radios">
							<input type="radio" name="dispo" value="2"><span>Indisponible</span>
						</div>
						<div class="radios">
							<input type="radio" name="dispo" value="3"><span>Déjà emprunté</span>
						</div>
					</div>
				</div>

				<button id="submit-add" type="submit" name="submit" value="Submit">Rechercher
				</button>
			</form>
		</div>
	</div>
</main>

{% include "footer.twig" %}
</body>
</html>