﻿{% include "header.twig" %}

<main>
    <div id="container-resultat">
        {% if resultat | length == 0 %}
            <h3>Aucune correspondance n'a été trouvée</h3>
        {% else %}
            <h3>Resultat(s) pour la recherche : {{ resultat | length }}</h3>

            {% for res in resultat %}
                <div class="resultats-recherche">
                    <h3>{{ res.titre }}</h3>
                    <img src="{{ res.photo }}" alt="Image Document">

                    <a href={{ url }}/annonce/{{  res.id }} >+ d'infos</a>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</main>


{% include "footer.twig" %}
</body>
</html>