body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

html {
  background-color: $grey;
}

main {
  flex: 1 0 auto;
}

div#erreur-404 {
  text-align: center ;
}

#header {
  font-size: 0;

  & #logo-medianet, & #titre-medianet {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
  }

  & #logo-medianet {
    @extend .right;
    margin-right: 2%;

    & img {
      max-width: 100%;
    }
  }

  & #titre-medianet {
    @extend .left;
    margin-left: 2%;
  }
}

#container-accueil {
  padding: 4rem;
  @extend .center;

  & .accueilLien{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    & a {
      @extend .btn;
      @extend .btn-red;
      @extend .flat;
      @extend .extra;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      font-size: 1.2rem;
    }
  }

  & .newFunction {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    & a {
      @extend .btn;
      @extend .btn-blue;
      @extend .flat;
      @extend .extra;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      font-size: 1.2rem;
    }
  }
}

#container-emprunt, #container-retour {
  padding-top: 2rem;
}

.info {
  width: 80%;
  margin: 1rem auto;
}

.validate {
  width: 80% !important;
}

#submit-fin {
  @extend #submit-add;
}