#container-client {
  padding: 2rem 4rem;
}

.rubrique {
  @extend .uppercase;
  padding: 2rem 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: $brownColor;
  @extend .center;

  & h3 {
    color: white;
  }
}

.form {
  padding: 2rem 0 0;
  @extend .center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  & #submit-add {
    @extend .btn;
    @extend .btn-blue;
    @extend .flat;
    @extend .extra;
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
    font-size: 1.2rem !important;
  }
}

input{
  padding: 1.2rem 0;
  margin-top: 0.8rem;
  width: 100%;
  display: block;
  font-size: 1.2rem;
  @extend .strong !optional;
  @extend .center;
  box-sizing: border-box;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

label {
  @extend h3;
}

#container-client {
  padding-top: 2rem;
}

#recap-client {
  width: 80%;
  margin: 2rem auto;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: white;
  padding: 2rem;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;

  & span {
    @extend strong;
  }
}

#image-client {
  width: 20%;
  display: inline-block;
}

#infos-client {
  width: 79%;
  display: inline-block;
  vertical-align: top;
}

#liste-emprunts {
  width: 80%;
  margin: 2rem auto;

  & h2 {
    margin-bottom: 2rem;
  }
}

.emprunt {
  @extend .center;
  margin-top : 2% !important;
  border: 1px solid $textPrincipalColor;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;

  & .title {
    padding: 1rem 0;
    background-color: $textPrincipalColor;
    color: white;
    margin-bottom: 1rem;
    @extend .uppercase;
  }

  & .titre, & .date {
    padding-left: 2rem;
    box-sizing: border-box;
    line-height: 1.5;
    @extend .left;
  }

  & .date {
    margin-bottom: 1rem;
  }

  & span {
    @extend strong ;
  }
}

.container-ajoutAdherent{
  & form {
    & div{
      margin-bottom: 4%;
    }
  }
}

.container-ajoutValide{
  @extend .center;
  margin-top: 2%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  & #infoAjout{
    @extend .center;
  }
  & #infoModif{
    @extend .left;
  }

  & #recapModif{
    @extend  .center;
  }

  & #recapAjout{
    @extend  .left;
  }

  & #numA{
    color: red;
  }
}