// Header
.header {
  padding-bottom: 10px;
  margin: .8rem 0 1.6rem;
  border-bottom: $borderBottomHeader;
}

// Jumbotron
.jumbotron {
  background-color: $grey;
  padding: 2.4rem 1rem;
  border-radius: 4px;

  p {
    text-align: justify;
    margin: 2.0rem 0 1.2rem 0;
  }
}

@media screen and (min-width: 46em) {
  .jumbotron {
    padding: 2.4rem 3rem 2.4rem 3rem;
  }
}