footer {
  background-color: $defaultButtonRed;
  padding: 2.4rem 0;
  margin-top: 4rem;
  cursor: pointer;
  @extend .center;

  & a {
    font-size: 1.2rem;
    color: white;
    @extend .uppercase;
  }

  & a:visited {
    color: white;
  }
}