body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

html {
  background-color: $grey;
}

main {
  flex: 1 0 auto;
}

.connectBox{
  width: 20%;

  & #connection{
    @extend .btn, .btn-blue, .extra;

  }
}

div#erreur-404 {
  text-align: center;
}

nav{
  & div{
    margin-bottom: 0rem;
  }
}


#header {
  font-size: 0;

  & #logo-medianet, & #titre-medianet {
    width: 98%;
    @extend .center;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
  }

  & #logo-medianet {
    margin-right: 1%;

    & img {
      max-width: 100%;
    }
  }

  & #titre-medianet {
    margin-left: 1%;
  }
}

@media screen and (min-width: 47em) {
  #header {
    & #logo-medianet, & #titre-medianet {
      width: 48%;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }

    & #logo-medianet {
      margin-right: 2%;
      text-align: left;

      & img {
        max-width: 100%;
      }
    }

    & #titre-medianet {
      margin-left: 2%;
      text-align: right;
    }
  }
}

nav {
  & div {
    @extend .navbar;
  }
}

#nouveaux-ajouts {
  font-size: 0;

  & > h3 {
    margin-bottom: 1rem;
  }
}

.dernier_ajout {
  @extend .center;
  border: 1px solid $brownColor;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  vertical-align: top;

  & h3 {
    padding: 1rem 0;
    background-color: $brownColor;
    color: white;
    margin-bottom: 1rem;
    @extend .uppercase;
  }

  & img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & p {
    display: none;
    @extend .justify;
    padding: 1rem 2rem;
  }

  & a {
    @extend .btn;
    @extend .btn-blue;
    @extend .flat;
    @extend .extra;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.tablette, .pc {
  display: none;
}

@media screen and (min-width: 47em) {
  #nouveaux-ajouts {
    padding: 4rem 2rem;
  }

  .dernier_ajout {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;

    & img {
      height: 200px;
    }
  }

  .tablette {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
  }

  .pc {
    display: none;
  }
}

@media screen and (min-width: 70em) {
  #nouveaux-ajouts {
    padding: 4rem 2rem;
  }

  .dernier_ajout {
    width: 31%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;

    & img {
      height: 180px;
    }

    & p {
      display: block;
      padding: 1rem;
    }

    & a {
      width: 70%;
    }
  }
}