.alert-box {
  display: block;
  color: white;
  position: relative;
  background-color: $textPrincipalColor;
  border: 2px solid rgba(0,0,0,0.3);
  margin-bottom: 1.2rem;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0.8rem 1.4rem 0.8rem 0.8rem;
}

.alert-box.success {
  background-color: $successDefaultBgColor;
}

.alert-box.danger, .alert-box.warning {
  background-color: $dangerDefaultBgColor;
}

.alert-box.warning {
  background-color: $WarningDefaultBgColor;
}