button.btn, a.btn {
  display: inline-block;
  color: $defaultButtonColor;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $defaultButonBgColor;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  padding: 0.8rem 2.1rem;
  border-radius: 5px;
  border-bottom-width: 3px;

  &:hover {
    background-color: $hoverPagination;
    border-color: $textSubtitleColor;
    cursor: pointer;
  }

  &:active {
    background-color: $defaultButtonActive;
    outline: none;
    border-color: black;
  }
}

button.btn.round, a.btn.round {
  border-radius: 30px;
}

@mixin button() {
  border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: white;
}

button.btn-blue, a.btn-blue {
  background-color: $textPrincipalColor;
  @include button;
}

button.btn-blue:hover, a.btn-blue:hover {
  background-color: $hoverUlNav;
  border-color: rgba(0,0,0,0.5);
}

button.btn-blue:active, a.btn-blue:active {
  background-color: $hoverUlNav;
  outline: none;
  border-color: rgba(0,0,0,0.9);
}

button.btn-brown, a.btn-brown {
  background-color: $brownColor;
  @include button;
}

button.btn-brown:hover, a.btn-brown:hover  {
  background-color: $brownColor;
  border-color: rgba(0,0,0,0.5);
}

button.btn-brown:active a.btn-brown:active {
  background-color: $brownColor;
  outline: none;
  border-color: rgba(0,0,0,0.9);
}

button.btn-red, a.btn-red {
  background-color: $defaultButtonRed;
  @include button;
}

button.btn-red:hover, a.btn-red:hover {
  background-color: $defaultButtonRedHover;
  border-color: rgba(0,0,0,0.5);
}

button.btn-red:active, a.btn-red:active {
  background-color: $defaultButtonRedActive;
  outline: none;
  border-color: rgba(0,0,0,0.9);
}

button.flat, a.flat {
  border: none;
  border-radius: 0;
}

button.extra, a.extra {
  width: 100%;
}

button.btn-lg, a.btn-lg {
  padding: 0.8rem 3.1rem;
}

button.btn-small, a.btn-small {
  padding: 0.8rem 1.1rem;
}

button.fancy {
  border-radius: 50px;
}

a.btn {
  text-decoration: none;
  text-align: center;
}