#fil {
  @extend .breadcrumb;
  margin-top: 0rem;

  & ul {
    background-color: $lightGrey;
  }
}

#detail {
  @extend .center;
  border: 1px solid $brownColor;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;

  & h3 {
    padding: 1rem 0;
    background-color: $brownColor;
    color: white;
    margin-bottom: 1rem;
    @extend .uppercase;
  }

  & img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & p {
    @extend .justify;
    padding: 1rem 2rem;

    & span {
      @extend strong;
    }
  }
}

@media screen and (min-width: 47em) {
  #detail {
    width: 80%;
  }
}

@media screen and (min-width: 70em) {
  #detail {
    width: 70%;
  }
}