footer {
  background-color: $defaultButtonRed;
  padding: 2.4rem 0;
  margin-top: 4rem;
  cursor: pointer;
  font-size: 0;
  @extend .center;

  .footer {
    display: inline-block;
    width: 100%;

    &:first-child {
      margin-bottom: 1rem;
    }
  }

  & a {
    font-size: 1.2rem;
    color: white;
    @extend .uppercase;
  }

  & a:visited {
    color: white;
  }
}

@media screen and (min-width: 47em) {
  footer {
    & .footer {
      width: 50%;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}