.container-recherche{
  padding: 2rem;

  & .form{
    width: 96%;
    @extend .center;
    margin-left: auto;
    margin-right: auto;

    & div {
      margin-top: 5%;
      @extend .left;
    }


    & input, select{
      padding: 0.6rem 0;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      width: 100%;
      display: block;
      font-size: 1rem;
      @extend .strong !optional;
      @extend .left;
      box-sizing: border-box;
    }

    & input[type="radio"]{
      width: 6%;
      display: inline-block;

    }

    & #radio{
      font-size: 0;
    }

    & .radios{
      display: inline-block;
      font-size: 1rem;
      width: 50%;
    }

    & .radios:nth-child(1), .radios:nth-child(3){
      @extend .left;
    }

    & .radios:nth-child(2), .radios:nth-child(4){
      @extend .right;
    }

    & button{

      @extend .btn , .btn-red , .flat , .extra;
    }

    & input:hover, textarea:hover, select:hover
    input:focus, textarea:focus, select:focus{
      background-color:white;
    }
  }
}


@media screen and (min-width: 47em){
  .container-recherche{
    padding: 2rem 6rem;

    & .form{

      & button{
        width: 80%;
      }

      & .radios{
        width: 25%;
      }

      & .radios:nth-child(2), .radios:nth-child(3){
        text-align: center;
      }

    }
  }
}


@media screen and (min-width: 70em){
  .container-recherche{
    padding: 2rem 18rem;

    & .form{

      & button{
        width: 50%;
      }
    }
  }
}







