#container-resultat {
  font-size: 0;
}

.resultats-recherche:nth-child(2), .resultats-recherche:nth-child(3), .resultats-recherche:nth-child(4){
  opacity: 1;
}

.resultats-recherche{
  @extend .center;
  border: 1px solid $brownColor;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  opacity: 0;

  & h3 {
    padding: 1rem 0;
    background-color: $brownColor;
    color: white;
    margin-bottom: 1rem;
    @extend .uppercase;
  }

  & img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & p {
    display: none;
    @extend .justify;
    padding: 1rem 2rem;
  }

  & a {
    @extend .btn;
    @extend .btn-blue;
    @extend .flat;
    @extend .extra;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 47em) {
  #container-resultat {
    padding: 4rem 2rem;
  }

  .resultats-recherche {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;

    & img {
      height: 200px;
    }
  }

}

@media screen and (min-width: 70em) {
  #container-resultat {
    padding: 4rem 2rem;
  }

  .resultats-recherche {
    width: 31%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;

    & p {
      display: block;
      padding: 1rem;
    }

    & a {
      width: 70% ;
    }

    & img {
      height: 180px;
    }
  }
}