body {
  display: block;
  margin: 20px;
  font-family: $fontFamily;
  word-wrap: break-word;
}

*:focus {
  outline: none;
}

h1, h2, h3,
h4, h5, h6 {
  color: $textPrincipalColor;
  width: 100%;
  font-weight: bold;
}

@mixin createH($depart, $multiply, $regression) {
  @if $multiply == 1 {
    font-size: $depart;
  }
  @else {
    font-size: $depart - ($multiply * $regression);
  }
}

@for $num from 1 to 7 {
  h#{$num} {
    @include createH($departFontSizeH, $num, $defaultRegressionH);

    &.sub {
    @include createH($departFontSizeH, $num + 1, $defaultRegressionH);
    }
  }
}

h1 > small, h2 > small, h3 > small,
h4 > small, h5 > small, h6 > small {
  font-size: .8em;
  color: $textSubtitleColor;
  width: 100%;
}

h1.sub, h2.sub, h3.sub,
h4.sub, h5.sub, h6.sub {
  color: $textSubtitleColor;
  display: block;
  width: 100%;
}

p {
  margin: 1rem 1rem 1.2rem 1rem;
  font-size: 1rem;
  line-height: normal;
  word-wrap: break-word;
}

mark {
  color: white;
  border-radius: 2px;
  padding: 0 2px 0 2px;
  background-color: $brownColor;
}

del, ins, u, abbr {
  position: relative;
}

ins {
  text-decoration: none;
}

del:before {
  border-bottom: 1px solid $textPrincipalColor;
  position: absolute;
  content: "";
  width: 100%;
  height: 51.5%;
}

ins:before, u:before {
  @extend del:before;
  max-height: inherit;
  min-height: inherit;
  height: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted $textPrincipalColor;
  cursor: help;
}

q:before {
  content: "\"";
}

q:after {
  content: "\"";
}

blockquote {
  border-left: 6px solid black;
  padding: 2rem;
  margin: 1rem 1rem 1.2rem 1rem;
  border-radius: 4px;
  background-color: $brownColor;
  background-image: url('../images/blockquote.png'), url('../images/blockquote_end.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 10px top 10px, right 10px bottom 10px;
  line-height: normal;
  color: white;
}

code {
  font-size: .8rem;
  border-left: 6px solid $textPrincipalColor;
  padding: 1rem;
  margin: 1rem 1rem 1.2rem 1rem;
  display: block;
  border-radius: 4px;
  background-color: $grey;
  font-family: $fontCode;
}

pre {
  @extend code;
  counter-reset: line;
  white-space: pre-wrap;
  text-align: left;

  span {
    counter-increment: line;

    &:before {
      content: counter(line);
      text-align: right;
      margin-right: 1rem;
      color: $textPrincipalColor;
      font-weight: bold;
    }
  }
}

kbd {
  color: black;
  border: 1px solid $textPrincipalColor;
  font-size: 1rem;
  border-radius: 4px;
  background-color: $textSubtitleColor;
  display: inline-block;
  padding: 3px 4px 3px 4px;
  box-shadow: 2px 2px 4px 0 $textSubtitleColor;
  font-family: $fontCode;
}

li {
  list-style-image: url('../images/puce.png');
  margin-bottom: .4rem;

  &.square {
    list-style-image: url('../images/puce_square.png');
  }

  &.none {
    list-style-image: url('../images/puce_none.png');
  }
}

ul {
  padding: 0 1rem 1rem 1rem;
  margin: 1rem 1rem 1.2rem 1rem;

  li {
    margin-top: .4rem;
    margin-left: 1.4rem;
  }
}

*.left {
  text-align: left;
}

*.right {
  text-align: right;
}

*.center {
  text-align: center;
}

*.justify {
  text-align: justify;
}

*.uppercase {
  text-transform: uppercase;
}

*.lowercase {
  text-transform: lowercase;
}

table {
  width: 100%;
  margin-top: .4rem;
  margin-bottom: 1.4rem;

  &.mouse tr:hover td {
    background: $tdMouseBackground;
    color: white;
    border-top: 1px solid $tdBorder;
    border-bottom: 1px solid $tdBorder;
  }

  &.alternate tr:nth-child(odd) td {
    background: $grey;
  }

  &.mouse tr:nth-child(odd):hover td {
    background: $tdMouseBackground;
  }
}

@media screen and (max-width: 45rem) {
  table {
    border: none;
  }
}

th {
  color: white;
  font-size: 1.4rem;
  background: $textPrincipalColor;
  border-bottom: 4px solid $textSubtitleColor;
  border-right: 1px solid $textSubtitleColor;
  padding: 1.2rem;
  vertical-align: middle;

  &:first-child {
    border-top-left-radius:3px;
  }

  &:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
}


@media screen and (max-width: 45rem) {
  th {
    display: none;
  }
}

tr {
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
  color: $trColor;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &:last-child {
    td:first-child {
      border-bottom-left-radius: 3px;
    }

    td:last-child {
      border-bottom-right-radius: 3px;
    }
  }
}

@media screen and (max-width: 45rem) {
  tr {
    display: block;
    border: 1px solid $textSubtitleColor;
    margin-bottom: 1rem;
    text-align: left;
  }

  tr:first-child {
    display: none;
  }

  tr:last-child {
    margin-bottom: 1.4rem;
    border: 1px solid $textSubtitleColor;
  }
}

td {
  background: white;
  padding: 20px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.1rem;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid $textSubtitleColor;

  &:last-child {
    border-right: 0;
  }
}

@media screen and (max-width: 45rem) {
  td {
    display: block;
    border-right: none;
    border-bottom: 1px dotted $textSubtitleColor;
  }

  td:last-child {
    border: none;
  }

  td:before {
    content: attr(data-label);
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
  }
}