{% include "header.twig" %}

<main>

    <div id="container-ajoutAdherent">
        <div class="rubrique">
            <h3>Ajouter un document</h3>
        </div>
    <div class="form">
        <form id="form-get-resultat" method="post">

            <div id="addDoc">
                {% if msg != null %}
                    <div class="alert-box success">
                        <p>Votre document à bien été ajouter !</p>
                    </div>
                {% endif %}

                <div id="titre">
                    <label>Titre</label>
                    <input type="text" name="titre" size="20" placeholder="titre" maxlength="70" required>
                </div>

                <div id="desc">
                    <label>Description</label>
                    <input type="text" name="description" size="20" placeholder="description" maxlength="255" required>
                </div>

                <div id="photo">
                    <label>Photo</label>
                    <input type="text" name="photo" size="20" placeholder="image (URL)" maxlength="150" required>
                </div>

                <div id="datesortie">
                    <label>Date de sortie</label>
                    <input type="text" name="datesortie" id="datepicker" required>
                </div>

                <div class="type">
                    <label>Type : </label>
                    <select id="TypeChoix" name="type">
                        {% for type in lType %}
                            <option value="{{ type.id }}">{{ type.id }} : {{ type.intitule }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="genre">
                    <label>Genre : </label>
                    <select id="GenreChoix" name="genre">
                        {% for genre in lGenre %}
                            <option value="{{ genre.id }}">{{ genre.id }} : {{ genre.intitule }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button id="submit-add" type="submit" name="ajouter">Ajouter</button>
            </div>

        </form>
    </div></div>
</main>

{% include "footer.twig" %}
