{% include "header.twig" %}

<main>
    <div id="container-accueil">

        <div class="newFunction">
            <a href="{{ url }}/adherent/ajout">Ajouter un adhérent</a>
        </div>

        <div class="newFunction">
            <a href="{{ url }}/adherent/modifier">Modifier un adhérent</a>
        </div>

    </div>
</main>


{% include "footer.twig" %}

