{% include "header.twig" %}

<main>

    <div id="container-ajoutAdherent">

        <div class="rubrique">
            <h3>Nouvelle adhérent</h3>
        </div>

        <div class="container-ajoutAdherent">

            <div class="form">
                <form id="form-ajoutAdherent" method="post">

                    <div id="nom">
                        <label >Nom</label>
                        <input type="text" name="nom" id="nomA" placeholder="nom" required>
                    </div>

                    <div id="prenom">
                        <label >Prénom</label>
                        <input type="text" name="prenom" id="prenomA" placeholder="prénom" required>
                    </div>

                    <div id="adresse">
                        <label >Adresse</label>
                        <input type="text" name="adresse" id="adresseA" placeholder="adresse" required>
                    </div>

                    <div id="mail">
                        <label >Mail</label>
                        <input type="email" name="mail" id="mailA" placeholder="email" required>
                    </div>

                    <div id="motpass">
                        <label >Mot de passe</label>
                        <input type="password" name="mdp" id="mdpA" placeholder="mot de passe" required>
                    </div>

                    <div id="date">
                        <label >Date d'adhésion</label>
                        <input type="text" name="date" id="datepicker" required >
                    </div>


                    <button id="submit-add" type="submit" name="submit" value="Submit">Ajouter
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>


{% include "footer.twig" %}