{% include "header.twig" %}

<main>
    <div id="container-ajoutAdherent">

        <div class="rubrique">
            <h3>Adhérent bien ajouté</h3>
        </div>

        <div class="container-ajoutValide">
            <h3 id="recapAjout">Récapitulatif adhérent : </h3>
            <div id="infoAjout">
                <p> - Nom : {{ ajout.nom  }}</p>
                <p> - Prénom : {{ ajout.prenom }}</p>
                <p> - Mail : {{ ajout.email }}</p>
                <p> - Adresse : {{ ajout.adresse }}</p>
            </div>

            <h3 id="numA"> Votre numéro d'adhérent : {{ ajout.id }}</h3>
        </div>
</main>

{% include "footer.twig" %}

