{% include "header.twig" %}

<main>
    <div class="container-ajoutGenre">

        <div class="rubrique">
            <h3>Ajouter un genre document</h3>
        </div>
        <div id="ajoutTypeDoc">
            <div class="form" id="form-ajout">
                <form method="POST">
                        {% if genre != null %}
                            <div class="alert-box success">
                                <p>Le genre : {{ genre }} a bien été ajouté !</p>
                            </div>
                        {% endif %}

                        {% if genreBad != null %}
                            <div class="alert-box danger">
                                <p>Ce genre existe déjà !</p>
                            </div>
                        {% endif %}
                        <input type="text" name="genreAdd" size="20" placeholder="Genre à ajouter" maxlength="35">
                        <button id="submit-add" type="submit" name="envoyer">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% include "footer.twig" %}
