{% include "header.twig" %}

<main>
    <div class="container-ajoutType">
        <div class="rubrique">
            <h3>Ajouter un type document</h3>
        </div>
        <div id="ajoutTypeDoc">
            <div class="form" id="form-ajout">
                <form method="POST">
                    {% if type != null %}
                        <div class="alert-box success">
                            <p>Le type : {{ type }} a bien été ajouté !</p>
                        </div>
                    {% endif %}

                    {% if typeBad != null %}
                        <div class="alert-box danger">
                            <p>Ce type existe déjà !</p>
                        </div>
                    {% endif %}
                    <input type="text" name="typeAdd" size="20" placeholder="Type de document à ajouter" maxlength="35">
                    <button id="submit-add" type="submit" name="envoyer">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% include "footer.twig" %}
