{% include "header.twig" %}

<main>
<div id="container-client">
    <div class="rubrique">
        <h3>Récapitulatif client</h3>
    </div>


        {% if trouve  %}
            <h3 class="alert-box danger"> Utilisateur non présent dans la base </h3>
        {% endif %}
    <div class="form">
        <form id="form-get-client" method="post">
            <div class="info">
                <div class="numAdherent">
                    <label for="reference">Numéro de l'adhérent</label>
                    <input type="number" min="0" name="reference" id="reference" placeholder="x x x x x" required="required">
                </div>
            </div>
            <button id="submit-add" type="submit" name="submit" value="Submit">Valider
            </button>
        </form>
    </div>
</div>
</main>

{% include "footer.twig" %}

