{% include "header.twig" %}

<main>
    <div id="container-client">
        <div class="rubrique">
            <h3>Récapitulatif client</h3>
        </div>

        


        <div id="recap-client">
            <div id="image-client">
                <img src="{{ url }}/img/site/icon_profile.png" alt="Profile">
            </div>

            <div id="infos-client">
                <div id="nom">
                    <span>Nom </span>: {{user.nom}}
                </div>

                <div id="prenom">
                    <span>Prénom </span>: {{user.prenom}}
                </div>

                <div id="adh-num">
                    <span>Numéro adhérent </span>: {{user.id}}
                </div>
            </div>
        </div>

        <div id="liste-emprunts">
            <h2>Liste des emprunts</h2>


            {% for docu in user.document %}

            <div class="emprunt" >
                <div class="title">
                    <span>Référence </span>: {{docu.id}}
                </div>

                <div class="titre">
                    <span>Titre </span>: {{docu.titre}}
                </div>

                <div class="date">
                    <span>Date de remise prévue </span>: {{docu.dateEmprunt|date_modify("+21 day")|date("d/m/Y") }}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</main>

{% include "footer.twig" %}
