{% include "header.twig" %}

<main>

    <div class="container-supprimerDoc">

        <div class="rubrique">
            <h3>Supprimer un document</h3>
        </div>
        <div class="form">
            <form id="form-get-resultat" method="post">

                <div id="deleteDoc">
                    {% if titre != null %}
                        <div class="alert-box success">
                            <p>{{ titre }} a bien été supprimé !</p>
                        </div>
                    {% endif %}

                    <div id="document">
                        <label>Document </label>
                        <select id="titreChoix" name="titre">
                            {% for titre in ltitre %}
                                <option value="{{ titre.id }}">{{ titre.id }} : {{ titre.titre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id="submit-add" type="submit" name="supprimer">Supprimer</button>
                </div>

            </form>
        </div>
    </div>
</main>

{% include "footer.twig" %}
