{% include "header.twig" %}

<main>
    <div id="container-accueil">

        <div class="newFunction">
            <a href="{{ url }}/document/ajoutType">Ajout Type Document</a>
        </div>

        <div class="newFunction">
            <a href="{{ url }}/document/ajoutGenre">Ajout Genre Document</a>
        </div>

        <div class="newFunction">
            <a href="{{ url }}/document/supprimer">Supprimer un document</a>
        </div>

        <div class="newFunction">
            <a href="{{ url }}/document/ajout">Ajouter un document</a>
        </div>
    </div>
</main>

{% include "footer.twig" %}
