{% include "header.twig" %}

<main>
    <div id="container-emprunt">
        <div class="rubrique">
            <h3>Liste d'emprunt</h3>
        </div>

             <h4>Nombre de documents empruntés : {{ listeEmprunt | length }}</h4>
            <h1>Récapitulatif : </h1>

            <ul>
                {% for i in liste %}
                <li>Référence : {{i}}</li>
                {% endfor %}
            </ul>


            {% if listeEmprunt != null %}
                <h1>Liste d'emprunt : </h1>
                <div class="alert-box success">
            {% endif %}
            <ul>
                {% for i in listeEmprunt %}
                <li>Référence : {{i}}</li>
                {% endfor %}
            </ul>
            {% if listeEmprunt != null %}
                </div>
            {% endif %}


            {% if listeErreur != null %}
                <h1>Liste d'erreurs : </h1>
                <div class="alert-box danger">
            {% endif %}
            <ul>
                {% for i in listeErreur %}
                <li>Référence : {{i}}</li>
                {% endfor %}
            </ul>
            {% if listeErreur != null %}
                </div>
            {% endif %}
    </div>
</main>


{% include "footer.twig" %}
