{% include "header.twig" %}

<main>
    <div id="container-emprunt">
        <div class="rubrique">
            <h3>Emprunt</h3>
        </div>

        <div class="form">
            <form id="form-add-annonce" method="post">
                <div class="info">
                {% if error %}
                <div class="alert-box danger">
                    {{error}}
                </div>
                {% endif %}
                    <div class="numAdherent">
                        <label for="number">Numéro de l'adhérent</label>
                        <input type="number" name="number" id="number" placeholder="00001" required="required">
                    </div>
                </div>
                <button id="submit-add" type="submit" name="submit" value="Submit">Valider
                </button>
            </form>
        </div>
    </div>
</main>

{% include "footer.twig" %}
