{% include "header.twig" %}

<main>
    <div id="container-emprunt">
        <div class="rubrique">
            <h3>Emprunt</h3>
        </div>

        <div class="info">
            <div class="numAdherent">
            {{user}}
                <h3>Numero adhérent : {{nCl}} </h3>
            </div>
        </div>

        <div class="form">
            <div class="empruntBox">
                <form id="ref" method="post">
                    <div class="numAdherent">
                        {% if errorDoc != null %}
                    <div class="alert-box danger">
                        {{errorDoc}}
                    </div>
                        {% endif %}
                        <label for="number">Référence : </label>
                        <input type="tel" name="idref" id="number" required="required">
                    </div>

                    <button id="submit-add" type="submit" name="submit" value="Submit">Valider
                    </button>
                </form>
            </div>
        </div>

        <div class="form validate">
            <div class="terminer">
                <form id="fin" method="post">
                    <button id="submit-add" type="submit" name="submit_emprunt" value="Submit">Terminer l'opération
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>


{% include "footer.twig" %}
