<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MediaNet : Accueil Staff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url }}/img/site/icon_medianet.png" />
    <link rel="stylesheet" type="text/css" href="{{ url }}/css/easy.css">
    {% if datepicker %}
        <script src="{{ url }}/js/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="{{ url }}/css/default.css">
        <link rel="stylesheet" href="{{ url }}/css/default.date.css">
        <link rel="stylesheet" href="{{ url }}/css/default.time.css">
        <style>
            .picker__holder {overflow: hidden;}
        </style>

        <script src="{{ url }}/js/picker.js"></script>
        <script src="{{ url }}/js/picker.date.js"></script>
        <script src="{{ url }}/js/picker.time.js"></script>
        <script src="{{ url }}/js/legacy.js"></script>
        <script src="{{ url }}/js/datepicker.js"></script>
    {% endif %}
</head>

<body>

<header>
    <div id="header">
        <div id="logo-medianet">
            <img src="{{ url }}/img/site/icon_medianet.png" alt="Logo MediaNet">
        </div>

        <div id="titre-medianet">
            <h1>MediaNet</h1>
        </div>
    </div>
</header>