{% include "header.twig" %}

<main>
    <div id="container-accueil">
        <div class="accueilLien">
            <a href="{{ url }}/emprunt">Emprunt</a>
        </div>

        <div class="accueilLien">
            <a href="{{ url }}/remise">Remise</a>
        </div>

        <div class="accueilLien">
            <a href="{{ url }}/client">Client</a>
        </div>

        <div class="newFunction">
            <a href="{{ url }}/adherent">Adhérent</a>
        </div>

        <div class="newFunction">
            <a href="{{ url }}/document">Document</a>
        </div>

    </div>
</main>
</body>
</html>