{% include "header.twig" %}

<main>

        <div class="rubrique">
            <h3>Adhérent modifié</h3>
        </div>

        <div class="container-ajoutValide">
            <h3 id="recapModif">Récapitulatif adhérent : </h3>
            <div id="infoModif">
                <p> - Nom : {{ modif.nom  }}</p>
                <p> - Prénom : {{ modif.prenom }}</p>
                <p> - Mail : {{ modif.email }}</p>
                <p> - Adresse : {{ modif.adresse }}</p>
                <p> - Date d'adhésion : {{ modif.dateadhesion }}</p>
            </div>

        </div>
</main>

{% include "footer.twig" %}
