{% include "header.twig" %}

<main>
    <div id="container-modifierAdherent">

        <div class="rubrique">
            <h3>Modifier un adhérent</h3>
        </div>
        <div class="container-ajoutAdherent">

            <div class="form">
                <form id="form-modifierAdherent" method="post">

                    <div id="nom">
                        <label >Nom</label>
                        <input type="text" name="nom" id="nomA" value="{{ adherent.nom }}" required>
                    </div>

                    <div id="prenom">
                        <label>Prénom</label>
                        <input type="text" name="prenom" id="prenomA" value="{{ adherent.prenom }}" required>
                    </div>

                    <div id="adresse">
                        <label >Adresse</label>
                        <input type="text" name="adresse" id="adresseA" value="{{ adherent.adresse }}" required>
                    </div>

                    <div id="mail">
                        <label >Mail</label>
                        <input type="text" name="mail" id="mailA" value="{{ adherent.email }}" required>
                    </div>

                    <div id="date">
                        <label >Date</label>
                        <input type="text" name="date" id="datepicker" value="{{ adherent.dateadhesion }}" required>
                    </div>


                    <button id="submit-add" type="submit" name="submitMod" value="Submit">Modifier
                    </button>
                </form>
            </div>
        </div>

    </div>

</main>

{% include "footer.twig" %}
