{% include "header.twig" %}

<main>
<h2>Recapitulatif :</h2>


{% if rendus|length > 0 %}
    
    <div class="alert-box succes">
        {{rendus|length}} document(s) rendu(s) :
    </div>

    {% for docrend in rendus %}
    <hr>
        <p>Réference : {{docrend.id}}</p>
        <p>Titre : {{docrend.titre}}</p>
    {% endfor %}

{% endif %}

    <h3>Situation des utilisateurs</h3>
   {% for user in luser %}
   <hr>
    <h4>Utilisateur référence : {{user.id}}</h4>
        <p>Nom : {{user.nom}}</p>
        <p>Prenom : {{user.prenom}}</p>

       {% set incr = 0 %}
        {% for doc in user.document %}
         {% if doc.idEtatEmprunt == 3 %}
             {% set incr = incr + 1 %}
            <p>
            Réference : {{ doc.id }}
            <br> - Titre : {{ doc.titre }}
            <br> - A rendre le : {{ doc.dateEmprunt|date_modify("+21 day")|date("d/m/Y") }}
            </p>
         {% endif %}
        {% endfor %}
       <h4>Cet adherent doit encore : {{incr}} documents.</h4>

    {% endfor %}







{% if erreurs|length > 0 %}
    <div class="alert-box danger">
        Les documents suivants n'existent pas ou sont déjà retournés. Merci de vérifier la réference.
    </div>

    {% for error in erreurs %}
        <p>Réference : {{error}}</p>
    {% endfor %}

{% endif %}

</main>

{% include "footer.twig" %}
