{% include "header.twig" %}

<div id="container-retour">

    <div class="rubrique">
        <h3>Remise documents</h3>
    </div>

    <div class="form">
        <div class="retourBox">
            <form id="ref" enctype="multipart/form-data" method="post" >
                <div class="numAdherent">
                    <label for="number">Référence document : </label>
                    <input type="number" name="refdoc" id="number" min="0" required="required">
                </div>

                <button id="submit-add" type="submit" name="submit" value="Submit">Valider
                </button>
            </form>
        </div>
    </div>

    <div class="form validate" >
        <div class="terminer">
            <form id="fin" method="post">
                <button id="submit-fin" type="submit" name="finRendre" value="Submit">Terminer l'opération
                </button>
            </form>
        </div>
    </div>
</div>

{% include "footer.twig" %}
