{% include "header.twig" %}

<main>
    <div id="container-emprunt">
        <div class="rubrique">
            <h3>Modifier un adhérent</h3>
        </div>
        {{ modif }}
        <div class="form">
            <form id="form-saisie-Adherent" method="post">
                <div class="info">
                    <div class="numAdherent">
                        <label for="number">Référence de l'adhérent</label>
                        <input type="number" name="ref" id="number" min="0" placeholder="00001" required="required">
                    </div>
                </div>
                <button id="submit-add" type="submit" name="submit" value="Submit">Valider
                </button>
            </form>
        </div>
    </div>
</main>


{% include "footer.twig" %}
